html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #f4f4f4;
    overflow-x: hidden;
}

.img1, .img2, .img3, 
.img4, .img5, .img6,
.img7, .img8, .img9 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 90%;
}

.img1 {
    background-image: url(./images/bmwfirst.png);
    min-height: 100%;
}

.img2 {
    background-image: url(./images/1st.jpg);
    
}

.img3 {
    background-image: url(./images/2nd.jpg);
    
}

.img4 {
    background-image: url(./images/3rd.jpg);
    
}

.img5 {
    background-image: url(./images/4th.jpg);
    
}

.img6 {
    background-image: url(./images/5th.jpg);
    
}
.img7 {
    background-image: url(./images/6th.jpg);
    
}
.img8 {
    background-image: url(./images/7th.jpg);
    
}
.img9 {
    background-image: url(./images/bmwlast.png);
    min-height: 100%;
}

.section {
    text-align: center;
    padding: 20px 80px;
    background-color: white;
    color: black;
    border: 10px solid yellow;
}

.section ul li {
    display: inline;
    margin: 50px;
    font-size: 35px;
    line-height: 1.5;
}

.border {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
    padding: 35px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 70px;
    text-transform: uppercase;
    line-height: 1;
}

.border.border2 {
    top: 0;
}

#first {
    border: 10px solid #E43A29;
}

#second {
    border: 10px solid black;
}

#third {
    border: 10px solid #F8E458;
}

#fourth {
    border: 10px solid #D4DDEA;
}

#fifth {
    border: 10px solid #B0AFB2;
}

#sixth {
    border: 10px solid #AF3719;
}

#seventh {
    border: 10px solid #114A90;
}


@media(max-width:1000px) {

    .img1, .img2, .img3, 
    .img4, .img5, .img6,
    .img7, .img8, .img9 {
        background-attachment: scroll;
        min-height: 40%;
    }

    .section ul li {
        display: inline-block;
        margin: 20px;
        font-size: 20px;
    }

    .border {
        font-size: 30px;
        padding: 10px;
    }

}